<div class="mb-2 d-flex">
    <input class="form-control me-2" name="items" type="text" oninput="search()">
    <i class="fa-solid fa-circle-xmark text-danger m-auto" onclick="deleteInput(this)" style="font-size: 1.5rem;"></i>
</div>






